.map-cont{position:relative;overflow-x:auto;}
.map-inner{position:relative;min-width:680px;height:300px;}
.map-svg{position:absolute;top:0;left:0;width:100%;height:100%;overflow:visible;}
.mn{position:absolute;width:86px;height:86px;background:var(--dark);border:4px solid var(--gold);display:flex;flex-direction:column;align-items:center;justify-content:center;cursor:pointer;transition:transform 0.2s;box-shadow:4px 4px 0 var(--gdk);transform:translate(-50%,-50%);text-align:center;gap:3px;}
.mn:hover{transform:translate(-50%,-50%) scale(1.12);}
.mn-i{font-size:30px;}
.mn-n{font-size:7px;color:var(--gold);}
.mn-l{font-size:7px;color:var(--white);line-height:1.5;}
.mn.castle{border-color:var(--red);box-shadow:4px 4px 0 #800;}
