<div id="konami-screen">
  <div class="konami-title">CHEAT CODE ACTIVADO</div>
  <div class="konami-stars">&#11088;</div>
  <div style="font-size:48px">&#127381;&#127881;&#127926;</div>
  <div class="konami-sub">Encontraste el secreto de Daniel Carrasco!<br>+9999 PUNTOS DESBLOQUEADOS</div>
  <div style="font-size:12px;color:#f8b800;font-family:'Press Start 2P',monospace;margin-top:8px">&#11014;&#11014;&#11015;&#11015;&#11013;&#11157;&#11013;&#11157; B A</div>
  <button class="btn btn-red" (click)="closeKonami()" style="margin-top:16px;padding:12px 20px;font-size:9px">CONTINUAR</button>
</div>
