<div id="tb">
  <div class="hb">SCORE<span id="sc">000000</span></div>
  <div class="hb">COINS<span id="co">00</span></div>
  <div class="hb">COMBO<span id="cm">x1</span></div>
  <div class="hb">TIME<span id="ti">300</span></div>
  <div class="hc">
    <button class="hbtn" id="sfxbtn" onclick="toggleSfx()">SFX</button>
    <button class="hbtn" onclick="openWS()">MAP</button>
    <button class="hbtn" onclick="openInv()">INV</button>
    <button class="hbtn" onclick="openMg()">GAME</button>
    <button class="hbtn" onclick="toggleAch()">ACH</button>
  </div>
</div>
